@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  overflow-y: hidden;
}

.menu {
  font-family: "Merriweather", serif;
  background-color: #0009;
  margin: 10pt 0pt 10pt 10pt;
}
.scroller {
  margin: 10pt;
  overflow-y: scroll;
}
.textChild {
  margin: 10pt 0pt;
  font-family: "Merriweather", serif;
  background-color: #0009;
}
#first {
  margin-top: 0pt;
}
