@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
}

.menu {
  font-family: "Merriweather", serif;
  background-color: #0009;
  margin: 10pt;
  width: 50pt;
  height: 96.5vh;
  position: fixed;
  border-radius: 5pt;
}
.scroller {
  margin: 10pt 10pt 10pt 70pt;
}
.textChild {
  margin: 10pt 0pt;
  font-family: "Merriweather", serif;
  background-color: #0009;
  border-radius: 5pt;
}
#first {
  margin-top: 0pt;
}
