@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-image: url(images/img14.png);
  background-size: cover;
  background-attachment: fixed;
  flex-flow: row nowrap;
  justify-content: left;
}

#menu {
  font-family: "Merriweather", serif;
  background-color: #0009;
  z-index: 1;
  margin: 10pt;
  width: 50pt;
  height: 96.5vh;
  position: fixed;
  border-radius: 5pt;
  backdrop-filter: blur(10pt);
}
#menuItems {
  font-family: "Merriweather", serif;
  background-color: #0009;
  z-index: 1;
  margin: 10pt 0pt;
  width: 0pt;
  height: 96.5vh;
  border-radius: 5pt;
  backdrop-filter: blur(10pt);
  display: flex;
  align-items: center;
}
#menuItems[data-active-index="0"] > #menuBackground {
  background-position: 0% -25%;
}
#menuItems[data-active-index="1"] > #menuBackground {
  background-position: 0% -50%;
}
#menuItems[data-active-index="2"] > #menuBackground {
  background-position: 0% -75%;
}
#menuItemWrapper {
  margin-left: 100pt;
  z-index: 2;
}
#menuItemWrapper:hover ~ #menuBackground {
  background-size: 45pt 45pt;
  opacity: 0.5;
}
#menuItemWrapper:hover > .menuItem {
  opacity: 0.25;
}
#menuItemWrapper:hover > .menuItem:hover {
  opacity: 1;
}
.menuItem {
  color: white;
  display: block;
  font-size: 50pt;
  font-family: "Merriweather", serif;
  text-decoration: none;
  padding: 10pt;
  transition: opacity 0.5s ease;
}
#menuBackground {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#fff1 9%, transparent 0%);
  background-position: 0% 0%;
  background-size: 50pt 50pt;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1;
  transition: opacity 0.75s ease, background-size 0.75s ease;
}
#scroller {
  margin: 10pt 10pt 10pt 70pt;
}
.textChild {
  margin: 100pt 0pt;
  font-family: "Merriweather", serif;
  background-color: #0009;
  border-radius: 5pt;
  color: white;
  padding: 10pt;
  backdrop-filter: blur(10pt);
}
#first {
  margin-top: 0pt;
}
